/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------------ */

.wrapper {}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f99da;
    z-index: 3;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 3;
    flex: 0 0 60px;
    overflow: hidden;
}


.header__logo img {
    max-width: 100%;
    display: block;
}

.header__burger {
    display: none;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 3;
}

.header__list li {
    list-style: none;
    margin: 0 0 0 20px;
}

.header__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

@media (max-width: 767px) {
    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 40px;
    }

    .header__menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #043044;
        padding: 70px 10px 20px 0;
    }

    .header__burger {
        display: block;
        position: relative;
        z-index: 3;
        width: 30px;
        height: 20px;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.4s ease 0s;
    }

    .header__burger.__active span {
        transform: scale(0);
    }

    .header__burger.__active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.__active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.4s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin-bottom: 20px;
    }
}

.content {
    padding: 100px 0 0 0;
}

.content__text {
    font-size: 18px;
    line-height: 16px;
}

.content__text p {
    margin: 0 0 20px 0;
}